# Elastic Cloud deployment
ES_URL=https://<deployment>.es.us-central1.gcp.cloud.es.io
KIBANA_URL=https://<deployment>.kb.us-central1.gcp.cloud.es.io
FLEET_URL=https://<deployment>.fleet.us-central1.gcp.cloud.es.io
ES_USER=elastic
ES_PASS=<cloud-password>

# Caldera (on GCE VM, reachable from bridge)
CALDERA_URL=http://<caldera-gce-internal-ip>:8888
CALDERA_API_KEY=ADMIN123
